<!-- <p>form-i works!</p> -->
<div class="container" style="">
    
  
  
     
        <!-- <h2 class="section-title">User details</h2> -->
        <mat-label class="text-center">Bank/Security Details</mat-label>
        <form [formGroup]="bankDetailsForm" (ngSubmit)="onSubmitBankDetails(bankDetailsForm.value)">
            <mat-form-field class="full-width">
                <input matInput placeholder="Loan Repayment Account No." formControlName="repaymentAccNo" required>
                <mat-error *ngFor="let validation of validation_messages.repaymentAccNo">
                  <mat-error class="error-message" *ngIf="bankDetailsForm.get('repaymentAccNo').hasError(validation.type) && (bankDetailsForm.get('repaymentAccNo').dirty || bankDetailsForm.get('repaymentAccNo').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="Security" formControlName="security" required>
                <mat-error *ngFor="let validation of validation_messages.security">
                  <mat-error class="error-message" *ngIf="bankDetailsForm.get('security').hasError(validation.type) && (bankDetailsForm.get('security').dirty || bankDetailsForm.get('security').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width">
                <input matInput placeholder="Risk Score" formControlName="risk" [disabled]="true" value="Calculated Risk" required>
                <!-- <mat-error *ngFor="let validation of validation_messages.risk"> -->
                  <!-- <mat-error class="error-message" *ngIf="bankDetailsForm.get('risk').hasError(validation.type) && (bankDetailsForm.get('risk').dirty || bankDetailsForm.get('risk').touched)">{{validation.message}}</mat-error>
                </mat-error> -->
              </mat-form-field><br>

              <mat-label>Identity Proof *</mat-label>

              <!-- <div class="container">
               
                    <div class="form-group">
                        <input type="file" (change)="uploadFile($event)">
                    </div>
            
                    <div class="form-group input-group-lg">
                        <input class="form-control" placeholder="Name" formControlName="name">
                    </div>
            
                    <div class="form-group">
                        <button class="btn btn-danger btn-block btn-lg">Create</button>
                    </div>
                </form>
            </div> -->


               <app-file-upload></app-file-upload>

               <mat-label>Address Proof *</mat-label>
               <app-file-upload></app-file-upload>

               <mat-label>Financial Documents *</mat-label>
               <app-file-upload></app-file-upload>

               <mat-label>Business Ownership Proof *</mat-label>
               <app-file-upload></app-file-upload>

              <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!bankDetailsForm.valid">
                Submit
              </button>
        </form>
     
    
      </div>