<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5" >

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #171e2c"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #c5c3d1"
               >
        <!-- Left -->
        <div class="me-5">
          <span class="text-dark">Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">FINLONA</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #231e33; height: 2px"
                  />
              <p>
                FINLONA has been built in an iterative fashion to provide customized solutions to all fintech companies looking at an AI-driven growth trajectory.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #211b33; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Loan Management</a>
              </p>
              <p>
                <a href="#!" class="text-white">Loan Orientation</a>
              </p>
              <p>
                <a href="#!" class="text-white">Bank Statement Analyser</a>
              </p>
              <!-- <p>
                <a href="#!" class="text-white">Document Identification</a>
              </p> -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #211a35; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Dashboard</a>
              </p>
              <p>
                <a href="#!" class="text-white">Enquiry</a>
              </p>
              <!-- <p>
                <a href="#!" class="text-white">Complaint</a>
              </p> -->
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #28213d; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Pune, MH, IN</p>
              <p><i class="fas fa-envelope mr-3"></i> info.finlona@fin.com</p>
              <p><i class="fas fa-phone mr-3"></i> 020 2233455 </p>
              <p><i class="fas fa-print mr-3"></i> 20 2233456 </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2021 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"
           >www.finlona.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
  </div>
  <!-- End of .container -->