<p>user-dashboard works!</p>

<!-- <div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div> -->

<p>ABCCCCfdfew</p>
<div class="wrapper">
    <div class="sidebar-panel" id="sidebar" [style.background-color]="backgroundColor">
  
      <div class="sidebar-background" [style.background-image]="'url(../assets/img/sidebar-' + id + '.jpg)'"></div>
      <lender-app-sidebar></lender-app-sidebar>
    </div>
    <div class="main-panel" id="main-panel">
      <router-outlet></router-outlet>
    </div>
  </div>
  