<!-- <div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div> -->



  <!-- new registration -->


  <div class="container">
    <div class="background"></div>
      <div class="container">
        <div class="row">
        <!-- <app-header></app-header> -->
      
          <div class="row ">
            <!-- register-panel -->
            <!-- col-md-10 col-md-offset-1 -->
            <div class="col-sm-6 col-xs-12 col-md-12 col-lg-12">
           
          
         
              <div class="card-header">
                <i class="material-icons">perm_identity</i>
                 </div>
              
          
             <div class="card">
              <h2>Register</h2>
              <div class="row">
                <div class="col-md-5 col-md-offset-1">
              </div>

              <!-- col-md-5 -->
              <div class="col-md-5">
                <div class="form-part">
                  <div class="socials">
                    <a mat-mini-fab style="background-color: #55acee;" href="https://mobile.twitter.com/i/flow/signup"><i class="fa fa-twitter"></i></a>
                    <a mat-mini-fab style="background-color: #ea4c89; margin: 0 5px;" href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp"><i class="fa fa-google-plus"></i></a>
                    <a mat-mini-fab style="background-color: #3b5998;" href="https://www.facebook.com/r.php"><i class="fa fa-facebook"></i></a>
                  </div>
                  <!-- <h6 style="margin-bottom: 30px">or be classical</h6> -->
                  <form *ngIf="!isSuccessful" name="form"  [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                    <div class="form-row">
                      <i class="material-icons">person</i>
                      <mat-form-field color="accent">
                        <input type="text" matInput placeholder="Username" formControlName="username"/>
                        <!-- <mat-error *ngFor="let validation of validation_messages.email">
                         <mat-error class="error-message" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">{{validation.message}}</mat-error>
                       </mat-error> -->
                      </mat-form-field>
                    </div>

                    <div class="form-row">
                      <i class="material-icons">email</i>
                      <br/>
                      <mat-form-field color="accent">
                        <input type="text" matInput placeholder="Email address" formControlName="email"/>
                        <mat-error *ngFor="let validation of validation_messages.email">
                         <mat-error class="error-message" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">{{validation.message}}</mat-error>
                       </mat-error>
                      </mat-form-field>
                    </div>

                    <br>

                    <div class="form-row">
                      <i class="material-icons">lock_outline</i>
                      <mat-form-field color="accent">
                        <input type="password" matInput placeholder="Password" formControlName="password"/>
                        <mat-error *ngFor="let validation of validation_messages.password">
                         <mat-error class="error-message" *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">{{validation.message}}</mat-error>
                       </mat-error>
                      </mat-form-field>
                    </div>
                    <br>

<!-- 
                  <div class="row">
                    <i class="material-icons">face</i>
                    <mat-form-field color="accent">
                      <input type="text" matInput placeholder="Name">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                  <div class="row">
                    <i class="material-icons">email</i>
                    <mat-form-field color="accent">
                      <input type="text"
                      class="form-control"
                      name="username"
                      [(ngModel)]="form.username"
                      required
                      #username="ngModel" matInput placeholder="Email">
                    </mat-form-field>
                  </div>
                  </div>
                  <div class="alert-danger" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors.required">Email is required</div>                  
                   </div>
                   <div class="form-group">
                  <div class="row">
                    <i class="material-icons">lock_outline</i>
                    <mat-form-field color="accent">
                      <input type="password"
                      class="form-control"
                      name="password"
                      [(ngModel)]="form.password"
                      required
                      minlength="6"
                      maxlength="15"
                      #password="ngModel" matInput placeholder="Password">
                    </mat-form-field>
                  </div>
                </div>
                  <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                    <div *ngIf="password.errors.maxlength">
                      Password must not be greater than 15 characters
                    </div>


                  </div>
                
                  <div class="row">
                    <mat-checkbox style="margin-left: 2px" ><p style="margin-left: 8px">I agree to the <span style="color: #9c27b0; cursor: pointer; font-weight: 400;">terms and conditions</span>.</p></mat-checkbox>
                  </div>
                  <div class="form-group">
                  <div class="row" style="display: flex; justify-content: center">
                    <button mat-raised-button class="btn btn-primary btn-round">Register</button>
                  </div>
                </div>
                
                  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                  </div> -->
                </form>
                <div >

                  <!-- <mat-form-field color="accent"> -->

                  <button mat-form-field color="accent" mat-button (click)="onSubmit()">Register</button>
                </div>

                </div>
                </div>
                <div class="alert alert-success" *ngIf="isSuccessful">
                  Your registration is successful!
                </div>              
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
