<div class="text-center" style="margin-top: 5px;">
    <h2>Introducing Finezza</h2>
        <h4>Lending Lifecycle Management Platform and Credit Evaluation Services.</h4>
</div>


<div class="row "style="margin-top: 50px;">
   <!-- <div class="col-6">
       <img src="../../../assets/images/Home/loan2.jpg"/>
   </div> -->
   <div>
    <div class="container bootstrap snippets bootdeys">
        <div class="row">
            
            
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                        <div class="content">
                            <h6 class="category">Best cards</h6>
                            <h4 class="title"><a href="#">Green Card</a></h4>
                            <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                        <div class="content">
                            <h6 class="category">Best cards</h6>
                            <h4 class="title"><a href="#">Yellow Card</a></h4>
                            <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
            
         
            
           
            
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                        <div class="content">
                            <h6 class="category">Best cards</h6>
                            <h4 class="title"><a href="#">Orange Card</a></h4>
                            <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
        </div>
</div>
</div>

















<section  style="margin-top:100px;" >
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">Our Verticals</div>

		
		
		<article class="postcard  green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../assets/images/Home/loan3.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h3 class="postcard__title green"><a href="#">Bank Statement Analysis
                    Algorithm</a></h3>
				<!-- <div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Accurate analysis of an applicant’s financial transactions. Capture the underlying decisions, arrive upon a more practical index to drastically cut down on the possibility of NPAs and bad credit.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play green">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>

        <article class="postcard  yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../assets/images/Home/loan4.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title yellow"><a href="#">Interest/EMI calculation Framework</a></h1>
				<!-- <div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Customised loan interest/EMI analysis based on data from multiple banks loan offers, arriving upon a more detailed analysis to ensure more intelligent decision making.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>

		<article class="postcard  yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../assets/images/Home/loan10.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title yellow"><a href="#">Loan Approval System</a></h1>
				<!-- <div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Easy fetching of loan application status applied on the dashboard.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
	</div>
</section>