
<section class="banner">



  
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of imageObject">
            <ng-template carouselSlide [id]="item.id">
                <!-- <div>
                    <h1>AB</h1>
                </div> -->
                <div class="container-main" style="background-image: url({{item.image}});background-size: cover;">
                    <div class="slide">
                        <div class="slide-content">
                            <span class="resp-text">
                                Introducing
                            </span>
                            <span class="resp">FASTLANE</span>

                            <p class="intro-desktop resp-text-1">
                                {{item.desktop}}
                            </p>
                            <p class="intro-mobile">
                                {{item.mobile}}
                            </p>
                            <!-- (click)="quickTour()" -->
                            <button>Take a Quick Tour</button>
                            <!-- <button class="default-btn">
                           <span class="def-btn-text">Take a Quick Tour</span>
                     </button> -->
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section>

<!-- <div>
    <img src="../../../assets/images/Home/loan-intro2.jpg" />
</div> -->