<div class="container">
	<div class="row">
			<h1>contact us</h1>
	</div>
	<div class="row">
			<h4 style="text-align:center">We'd love to hear from you!</h4>
	</div>
	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>Name</label> 
				</div>
			</div>

            <div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="user_type" id="Merchant">
                    <label class="form-check-label" >
                      Merchant
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="user_type" id="Lender" checked>
                    <label class="form-check-label" >
                      Lender
                    </label>
                  </div>


            </div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="email" required />
					<label>Email</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="number" required />
					<label>Phone Number</label> 
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Complaint</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="btn-lrg submit-btn"> Send </div>
			</div>
	</div>
</div>
