<div class="container">
  <app-navbar title="User Profile"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">perm_identity</i>
        </div>
        <div class="card-content" *ngIf="loginUserData">
          <h4 class="card-title">Your Profile
            <!-- <small class="category">Complete your profile</small> -->
          </h4>
          <!-- <form> -->
            <div class="row">
              <div class="col-md-12">
                <mat-form-field color="accent">
                 <span>User ID: {{loginUserData.id}}</span>
                </mat-form-field>
              </div>
              </div>
              <div class="row">
              <div class="col-md-12">
                <mat-form-field color="accent">
                 <span>User Name: {{loginUserData.username}}</span>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field color="accent">
                 <span>Email: {{loginUserData.email}}</span>
                </mat-form-field>
              </div>
            </div>
            <div class="row action-btn">
              <button style="background-color: #3a3a5f; color:azure;" md-raised-button type="submit" class="btn btn-rose">UPDATE PASSWORD</button>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="card right-profile">
        <div class="profile">
          <img src="../../../assets/img/marc.jpg" alt="profile"/>
        </div>
        <h6>CEO / CO-FOUNDER</h6>
        <h4>{{ firstName }} {{ lastName }}</h4>
        <p>Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye loves Kanye I love Rick Owens’ bed design but the back is...</p>
        <button mat-raised-button class="btn btn-rose btn-round">CHANGE</button>
      </div>
    </div> -->
  </div>
</div>
