<div class="container-fluid bg-light" >

<div class="container-fluid">
    <h2 class="font-weight-bold"><span class="font-weight-bold display-4">Type of Loan</span></h2>
</div>

<div class="card-group bg-light">

<div class="card">
<div class="card-body ">
    <img class="d-flex justify-content-center" src="../../../assets/images/Home/Personal-Loan.png" alt="..." style="height:100px;"/>
    <!-- <h3><span>Personal Loan</span></h3> -->
    <button type="button" class="btn"><h3>Personal Loan</h3></button>
</div>
</div>

<div class="card">
<div class="card-body">
    <img src="../../../assets/images/Home/Home-Loan.png" alt="..." style="height:100px;"/>
    <h3><span>Home Loan</span></h3>
</div>
</div>

<div class="card">
<div class="card-body">
    <img src="../../../assets/images/Home/Education-Loan.png" alt="..." style="height:100px;"/>
    <h3><span>Education Loan</span></h3>
</div>
</div>

<div class="card">
<div class="card-body">
    <img src="../../../assets/images/Home/Corporate-Loan.png" alt="..." style="height:100px;"/>
    <h3><span>Corporate Loan</span></h3>
</div>
</div>
</div>

<div class="card-group bg-light">
<div class="card">
<div class="card-body">
    <img src="../../../assets/images/Home/Business-Loan.png" alt="..." style="height:100px;"/>
    <h3><span>Business Loan</span></h3>
</div>
</div>

<div class="card">
<div class="card-body">
    <img src="../../../assets/images/Home/Agriculture-Loan.jpg" alt="..." style="height:100px;"/>
    <h3><span>Agriculture Loan</span></h3>
</div>
</div>

<div class="card">
<div class="card-body">
    <img src="../../../assets/images/Home/Doctor-Loan.png" alt="..." style="height:100px;"/>
    <h3><span>Doctor Loan</span></h3>
</div>
</div>

<div class="card">
<div class="card-body">
    <img src="../../../assets/images/Home/Car-Loan.png" alt="..." style="height:100px;"/>
    <h3><span>Car/Bike Loan</span></h3>
</div>
</div>

</div>


</div>
