
<div class="background"></div>
<div class="container" >
  <div class="container" >
    <div class="row">
    </div>
   <div class="row">
     <div class="col-md-4 col-sm-6 col-md-4 offset-md-4 col-sm-3 offset-sm-3">
       <div class="card">
         <div class="card-header">
            <h4>Login</h4>
           <div class="social-btns">
             <button mat-icon-button><i class="fa fa-facebook-square"></i></button>
             <button mat-icon-button><i class="fa fa-twitter"></i></button>
             <button mat-icon-button><i class="fa fa-google-plus"></i></button>
           </div>
         </div>
         <p class="tip"></p>
         <div class="card-form">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
           <!-- <div class="form-row">
           </div> -->
           <div class="form-row">
             <i class="material-icons">email</i>
             <mat-form-field color="accent">
               <input type="text" matInput placeholder="Email address" formControlName="email"/>
               <mat-error *ngFor="let validation of validation_messages.email">
                <mat-error class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">{{validation.message}}</mat-error>
              </mat-error>
             </mat-form-field>
           </div>
           <div class="form-row">
             <i class="material-icons">lock_outline</i>
             <mat-form-field color="accent">
               <input type="password" matInput placeholder="Password" formControlName="password"/>
               <!-- <mat-error *ngFor="let validation of validation_messages.password">
                <mat-error class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}</mat-error>
              </mat-error> -->
             </mat-form-field>
           </div>
           </form>
        
       </div>
         <div class="card-footer">
           <button mat-button (click)="onSubmit()">LET'S GO</button>
         </div>
       </div>

     </div>
   </div>
  </div>

