<div class="container">
  <!-- <lender-app-navbar title="Table List"></lender-app-navbar> -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content col-sm-12 col-xs-12 ">
          <h4 class="card-title">Simple Table</h4>
          <div class="table-responsive">
            
            <table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <mat-header-cell *matHeaderCellDef> {{column}}  </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <span class="mobile-label">{{column}}: </span>
        {{element[column]}}
            </mat-cell>

    <!-- <th mat-header-cell *matHeaderCellDef> {{column}} </th> -->

    <!-- <span class="mobile-label"> {{column}} </span>

    <td mat-cell *matCellDef="let element"> {{element[column]}} </td> -->
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" (click)="Viewprofile(element.id)">
  </tr> -->
</table>
<div style="margin-top: 20px;" (change)="noRecords()" *ngIf="noRecordsFlag">
  <p style="text-align: center; border:white 2px solid; background-color: #FFFFFF; width: 100%;">No matching records found</p>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>





<!-- 

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Striped Table</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th></th>
                <th>Product Name</th>
                <th>Type</th>
                <th>Quantity</th>
                <th class="text-right">Price</th>
                <th class="text-right">Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td><mat-checkbox></mat-checkbox></td>
                <td>Moleskine Agenda</td>
                <td>Oud-Office</td>
                <td>25</td>
                <td class="text-right">€ 49</td>
                <td class="text-right">€ 1,225</td>
              </tr>
              <tr>
                <td>2</td>
                <td><mat-checkbox></mat-checkbox></td>
                <td>Stabilo Pen</td>
                <td>Office</td>
                <td>35</td>
                <td class="text-right">€ 10</td>
                <td class="text-right">€ 300</td>
              </tr>
              <tr>
                <td>3</td>
                <td><mat-checkbox></mat-checkbox></td>
                <td>A4 Paper Pack</td>
                <td>Office</td>
                <td>50</td>
                <td class="text-right">€ 599.00</td>
                <td class="text-right">€ 109</td>
              </tr>
              <tr>
                <td>4</td>
                <td><mat-checkbox></mat-checkbox></td>
                <td>Apple iPad</td>
                <td>Meeting</td>
                <td>20</td>
                <td class="text-right">€ 10.99</td>
                <td class="text-right">€ 4,999</td>
              </tr>
              <tr>
                <td>5</td>
                <td><mat-checkbox></mat-checkbox></td>
                <td>Apple iPhone</td>
                <td>Communication</td>
                <td>10</td>
                <td class="text-right">€ 499.00</td>
                <td class="text-right">€ 5,999</td>
              </tr>
              <tr>
                <td colspan="5"></td>
                <td style="font-weight: 500; font-size: 1.25em;" class="text-right">Total</td>
                <td style="font-size: 26px" class="text-right">€12,999</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

 
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.position}} </div>
          <div class="example-element-symbol"> {{element.symbol}} </div>
          <div class="example-element-name"> {{element.name}} </div>
          <div class="example-element-weight"> {{element.weight}} </div>
        </div>
        <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution"> -- Wikipedia </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;">
  </tr>
 
</table> -->
