// .logo{
// 	padding: 25px 0 20px 0;
// 	color: #fff;
// 	font-size: 18px;
// 	text-align: center;
// 	position: relative;
//   }
  
//   .logo img{
// 	width: 42px;
// 	position: absolute;
// 	top: 16px;
// 	left: 13px;
//   }
  
//   .divider{
// 	content: '';
// 	position: relative;
// 	height: 1px;
// 	left: 15px;
// 	width: calc(100% - 30px);
// 	background-color: rgba(255, 255, 255, 0.5);
//   }
  
//   .sidebar-wrapper{
// 	overflow-y: auto;
// 	padding-bottom: 30px;
// 	width: 260px;
// 	position: relative;
// 	height: 100%;
//   }
  
//   .nav-container{
// 	position: relative;
//   }
  
//   .nav{
// 	padding-top: 15px;
// 	display: block;
//   }
  
//   .nav li{
// 	margin-bottom: 9px;
//   }
  
//   .nav li a{
// 	 display: flex;
// 	align-items: center;
// 	color: rgba(255,255,255,.8);
// 	margin: 0 15px;
// 	border-radius: 3px;
// 	-webkit-transition: all 400ms;
// 	-moz-transition: all 400ms;
// 	-ms-transition: all 400ms;
// 	-o-transition: all 400ms;
// 	transition: all 400ms;
// 	height: 50px;
// 	width: 80%;
// 	text-decoration: none;
//   }
  
//   .nav li a:hover, .parent-active{
// 	background-color: rgba(255,255,255,.1);
//   }
  
//   .nav li a span{
// 	margin-left: 20px;
//   }
  
//   .active a, .active a:hover{
// 	/*color: rgba(0,0,0,.6) !important;*/
// 	/*background-color: #fff !important;*/
// 	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
// 	-webkit-transition: all 400ms;
// 	-moz-transition: all 400ms;
// 	-ms-transition: all 400ms;
// 	-o-transition: all 400ms;
// 	transition: all 400ms;
//   }
  
//   .collapse-a{
// 	position: relative;
//   }
  
//   .collapse-a .caret{
// 	position: absolute;
// 	right: 21px;
// 	top: 23px;
// 	color: #fff;
// 	-webkit-transform: rotate(180deg);
// 	-moz-transform: rotate(180deg);
// 	-ms-transform: rotate(180deg);
// 	-o-transform: rotate(180deg);
// 	transform: rotate(180deg);
// 	-webkit-transition: all 200ms;
// 	-moz-transition: all 200ms;
// 	-ms-transition: all 200ms;
// 	-o-transition: all 200ms;
// 	transition: all 200ms;
//   }
  
//   .collapsed .caret{
// 	position: absolute;
// 	right: 21px;
// 	top: 23px;
// 	-webkit-transform: rotate(0deg);
// 	-moz-transform: rotate(0deg);
// 	-ms-transform: rotate(0deg);
// 	-o-transform: rotate(0deg);
// 	transform: rotate(0deg);
//   }
  
  
  




  body {
	padding-bottom: 30px;
	position: relative;
	min-height: 100%;
  }
  
  a {
	transition: background 0.2s, color 0.2s;
  }
  a:hover,
  a:focus {
	text-decoration: none;
  }
  
  #wrapper {
	padding-left: 0;
	transition: all 0.5s ease;
	position: relative;
  }
  
  #sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #222;
	transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
	width: 250px;
  }
  
  .sidebar-brand {
	position: absolute;
	top: 0;
	width: 250px;
	text-align: center;
	padding: 20px 0;
  }
  .sidebar-brand h2 {
	margin: 0;
	font-weight: 600;
	font-size: 24px;
	color: #fff;
  }
  
  .sidebar-nav {
	position: absolute;
	top: 75px;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
  }
  .sidebar-nav > li {
	text-indent: 10px;
	line-height: 42px;
  }
  .sidebar-nav > li a {
	display: block;
	text-decoration: none;
	color: #757575;
	font-weight: 600;
	font-size: 18px;
  }
  .sidebar-nav > li > a:hover,
  .sidebar-nav > li.active > a {
	text-decoration: none;
	color: #fff;
	background: #F8BE12;
  }
  .sidebar-nav > li > a i.fa {
	font-size: 24px;
	width: 60px;
  }
  
  #navbar-wrapper {
	  width: 100%;
	  position: absolute;
	  z-index: 2;
  }
  #wrapper.toggled #navbar-wrapper {
	  position: absolute;
	  margin-right: -250px;
  }
  #navbar-wrapper .navbar {
	border-width: 0 0 0 0;
	background-color: #eee;
	font-size: 24px;
	margin-bottom: 0;
	border-radius: 0;
  }
  #navbar-wrapper .navbar a {
	color: #757575;
  }
  #navbar-wrapper .navbar a:hover {
	color: #F8BE12;
  }
  
  #content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
	top: 100px;
  }
  #wrapper.toggled #content-wrapper {
	position: absolute;
	margin-right: -250px;
  }
  
  @media (min-width: 992px) {
	#wrapper {
	  padding-left: 250px;
	}
	
	#wrapper.toggled {
	  padding-left: 60px;
	}
  
	#sidebar-wrapper {
	  width: 250px;
	}
	
	#wrapper.toggled #sidebar-wrapper {
	  width: 60px;
	}
	
	#wrapper.toggled #navbar-wrapper {
	  position: absolute;
	  margin-right: -190px;
  }
	
	#wrapper.toggled #content-wrapper {
	  position: absolute;
	  margin-right: -190px;
	}
  
	#navbar-wrapper {
	  position: relative;
	}
  
	#wrapper.toggled {
	  padding-left: 60px;
	}
  
	#content-wrapper {
	  position: relative;
	  top: 0;
	}
  
	#wrapper.toggled #navbar-wrapper,
	#wrapper.toggled #content-wrapper {
	  position: relative;
	  margin-right: 60px;
	}
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
	#wrapper {
	  padding-left: 60px;
	}
  
	#sidebar-wrapper {
	  width: 60px;
	}
	
  #wrapper.toggled #navbar-wrapper {
	  position: absolute;
	  margin-right: -250px;
  }
	
	#wrapper.toggled #content-wrapper {
	  position: absolute;
	  margin-right: -250px;
	}
  
	#navbar-wrapper {
	  position: relative;
	}
  
	#wrapper.toggled {
	  padding-left: 250px;
	}
  
	#content-wrapper {
	  position: relative;
	  top: 0;
	}
  
	#wrapper.toggled #navbar-wrapper,
	#wrapper.toggled #content-wrapper {
	  position: relative;
	  margin-right: 250px;
	}
  }
  
  @media (max-width: 767px) {
	#wrapper {
	  padding-left: 0;
	}
  
	#sidebar-wrapper {
	  width: 0;
	}
  
	#wrapper.toggled #sidebar-wrapper {
	  width: 250px;
	}
	#wrapper.toggled #navbar-wrapper {
	  position: absolute;
	  margin-right: -250px;
	}
  
	#wrapper.toggled #content-wrapper {
	  position: absolute;
	  margin-right: -250px;
	}
  
	#navbar-wrapper {
	  position: relative;
	}
  
	#wrapper.toggled {
	  padding-left: 250px;
	}
  
	#content-wrapper {
	  position: relative;
	  top: 0;
	}
  
	#wrapper.toggled #navbar-wrapper,
	#wrapper.toggled #content-wrapper {
	  position: relative;
	  margin-right: 250px;
	}
  }