

<div style="display: flex;position: relative;">
  <div>
    <div class="breadcrumb" style="margin-left: 30px;">
      <span> <a routerLink="/home"> Home </a></span> &nbsp; > &nbsp;
      <span><a routerLink="/home">Accelerators</a></span> &nbsp; > &nbsp;
      <span> <a routerLink="/repository"> Repository </a></span> &nbsp; > &nbsp;
      <span [style.color]="'#5A5A5A'" class="view-archive"> Add Component</span>
    </div>
  </div>
</div>


<h3 class="admin-heading componentHeading">
  <mat-icon (click)="goToPreviousPage()" >arrow_back</mat-icon>Loan Application
</h3>

<div class="container">
  <div class="row">


    <div class="col">
      <!-- <h2 class="section-title">User details</h2> -->
      <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
        <mat-form-field class="full-width">
          <input matInput placeholder="Full Name" formControlName="fullname" required>
          <mat-error *ngFor="let validation of validation_messages.fullname">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('fullname').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>



        <mat-form-field class="full-width">
       
          <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="birthday" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.birthday">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('birthday').hasError(validation.type) && (userDetailsForm.get('birthday').dirty || userDetailsForm.get('birthday').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
          <mat-select placeholder="Gender">
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.gender">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('gender').hasError(validation.type) && (userDetailsForm.get('gender').dirty || userDetailsForm.get('gender').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Loan Amount" formControlName="loanamount" required>
          <mat-error *ngFor="let validation of validation_messages.loanamount">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('loanamount').hasError(validation.type) && (userDetailsForm.get('loanamount').dirty || userDetailsForm.get('loanamount').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Address" formControlName="address" required>
          <mat-error *ngFor="let validation of validation_messages.address">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('address').hasError(validation.type) && (userDetailsForm.get('address').dirty || userDetailsForm.get('address').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="State" formControlName="state" required>
            <mat-error *ngFor="let validation of validation_messages.state">
              <mat-error class="error-message" *ngIf="userDetailsForm.get('state').hasError(validation.type) && (userDetailsForm.get('state').dirty || userDetailsForm.get('state').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
              <input matInput placeholder="City" formControlName="city" required>
              <mat-error *ngFor="let validation of validation_messages.city">
                <mat-error class="error-message" *ngIf="userDetailsForm.get('city').hasError(validation.type) && (userDetailsForm.get('city').dirty || userDetailsForm.get('city').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Pincode" formControlName="pincode" required>
            <mat-error *ngFor="let validation of validation_messages.pincode">
              <mat-error class="error-message" *ngIf="userDetailsForm.get('pincode').hasError(validation.type) && (userDetailsForm.get('pincode').dirty || userDetailsForm.get('pincode').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

        <div formGroupName="country_phone" class="row">
       
          <mat-label>Contact</mat-label>
          <mat-form-field >
            
            <ngx-mat-intl-tel-input formControlName="phone"
            [preferredCountries]="['de', 'us']"
            [enablePlaceholder]="true"
            [enableSearch]="true" name="phone" #phone  >
          </ngx-mat-intl-tel-input>
          <mat-hint>eg : {{phone.selectedCountry.placeHolder}}</mat-hint>
        </mat-form-field> 
        </div>
      </form>
    </div>


    <div class="col">
      <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)">

        <mat-form-field class="full-width">
          <input matInput type="email" placeholder="Email" formControlName="email" required>
          <mat-error *ngFor="let validation of account_validation_messages.email">
            <mat-error class="error-message" *ngIf="accountDetailsForm.get('email').hasError(validation.type) && (accountDetailsForm.get('email').dirty || accountDetailsForm.get('email').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Company Name" formControlName="companyName" required>
          <mat-error *ngFor="let validation of account_validation_messages.companyName">
            <mat-error class="error-message" *ngIf="accountDetailsForm.get('companyName').hasError(validation.type) && (accountDetailsForm.get('companyName').dirty || accountDetailsForm.get('companyName').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field><br>

        <mat-form-field class="full-width">
          <mat-select matInput placeholder="Business Premise" formControlName="businessPremise" required>
            <mat-option value="A">Self Employed</mat-option>
            <mat-option value="B">Salaried</mat-option>
            </mat-select>
          <mat-error *ngFor="let validation of account_validation_messages.businessPremise">
            <mat-error class="error-message" *ngIf="accountDetailsForm.get('businessPremise').hasError(validation.type) && (accountDetailsForm.get('businessPremise').dirty || accountDetailsForm.get('businessPremise').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field><br>

        <mat-form-field class="full-width">
          <input matInput placeholder="PAN" formControlName="pan" required>
          <mat-error *ngFor="let validation of account_validation_messages.pan">
            <mat-error class="error-message" *ngIf="accountDetailsForm.get('pan').hasError(validation.type) && (accountDetailsForm.get('pan').dirty || accountDetailsForm.get('pan').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field><br>

        <mat-form-field class="full-width">
            <mat-select matInput placeholder="Sales Last Year" formControlName="lastYearSales" required>
              <mat-option value="A">0-50 Lacs</mat-option>
              <mat-option value="B">50 Lacs to 5 Crores</mat-option>
              <mat-option value="B">5 Crores to 20 Crores</mat-option>
              <mat-option value="B">More than 20 Crores</mat-option>
              </mat-select>
            <mat-error *ngFor="let validation of account_validation_messages.lastYearSales">
              <mat-error class="error-message" *ngIf="accountDetailsForm.get('lastYearSales').hasError(validation.type) && (accountDetailsForm.get('lastYearSales').dirty || accountDetailsForm.get('lastYearSales').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field><br>

          <mat-form-field class="full-width">
              <mat-select matInput placeholder="Established since last" formControlName="establishedYears" required>
                <mat-option value="A">1 Year</mat-option>
                <mat-option value="B">3 Years</mat-option>
                <mat-option value="B">7 Years</mat-option>
                <mat-option value="B">More than 10 Years</mat-option>
                </mat-select>
              <mat-error *ngFor="let validation of account_validation_messages.establishedYears">
                <mat-error class="error-message" *ngIf="accountDetailsForm.get('establishedYears').hasError(validation.type) && (accountDetailsForm.get('establishedYears').dirty || accountDetailsForm.get('establishedYears').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field><br>

            <mat-form-field class="full-width">
                <mat-select matInput placeholder="Business Type" formControlName="businessType" required>
                  <mat-option value="A">Trading</mat-option>
                  <mat-option value="B">Manufacturing</mat-option>
                  <mat-option value="B">Service</mat-option>
                  </mat-select>
                <mat-error *ngFor="let validation of account_validation_messages.businessType">
                  <mat-error class="error-message" *ngIf="accountDetailsForm.get('businessType').hasError(validation.type) && (accountDetailsForm.get('businessType').dirty || accountDetailsForm.get('businessType').touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field><br>

              <mat-form-field class="full-width">
                  <input matInput placeholder="Loan Repayment Account Number" formControlName="repaymentAccNo" required>
                  <mat-error *ngFor="let validation of account_validation_messages.repaymentAccNo">
                    <mat-error class="error-message" *ngIf="accountDetailsForm.get('repaymentAccNo').hasError(validation.type) && (accountDetailsForm.get('repaymentAccNo').dirty || accountDetailsForm.get('repaymentAccNo').touched)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field><br>

        <mat-checkbox formControlName="terms">
          I accept terms and conditions
        </mat-checkbox>
        <mat-error *ngFor="let validation of account_validation_messages.terms">
          <mat-error class="error-message" *ngIf="accountDetailsForm.get('terms').hasError(validation.type) && (accountDetailsForm.get('terms').dirty || accountDetailsForm.get('terms').touched)">{{validation.message}}</mat-error>
        </mat-error>

      </form>
      <!-- <button (click)="next()" class="btn btn-primary">Proceed</button> -->
      </div>
      <button class="submit-btn" color="primary" mat-raised-button type="submit" (click)="goformi();" [disabled]="!accountDetailsForm.valid && !userDetailsForm.valid">
        Proceed
      </button>
    </div>

        <!-- <mat-label>Bank Statement of Last 6 months *</mat-label>
        <app-file-upload></app-file-upload> -->
       
</div>