

<div style="display: flex;position: relative;">
  <div>
    <div class="breadcrumb" style="margin-left: 30px;">
      <span> <a routerLink="/home"> Home </a></span> &nbsp; > &nbsp;
      <span><a routerLink="/home">Accelerators</a></span> &nbsp; > &nbsp;
      <span> <a routerLink="/repository"> Repository </a></span> &nbsp; > &nbsp;
      <span [style.color]="'#5A5A5A'" class="view-archive"> Add Component</span>
    </div>
  </div>

  <div style="overflow: hidden;position: absolute;top:0;right: 0;z-index: 2"  >
    <img src="../../../assets/images/Tangram_top.svg" style="margin-top: -150px;z-index: 2;margin-right: -260px;" />
  </div>
</div>


<h3 class="admin-heading componentHeading">
  <mat-icon (click)="goToPreviousPage()" >arrow_back</mat-icon>Loan Application
</h3>
<div class="container">
  
  <div class="row">


    <div class="col">
      <!-- <h2 class="section-title">User details</h2> -->
      <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
        <mat-form-field class="full-width">
          <input matInput placeholder="Full Name" formControlName="fullname" required>
          <mat-error *ngFor="let validation of validation_messages.fullname">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('fullname').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>



        <mat-form-field class="full-width">
       
          <input matInput [matDatepicker]="picker" placeholder="Your birthday" formControlName="birthday" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.birthday">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('birthday').hasError(validation.type) && (userDetailsForm.get('birthday').dirty || userDetailsForm.get('birthday').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
          <mat-select placeholder="Gender">
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.gender">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('gender').hasError(validation.type) && (userDetailsForm.get('gender').dirty || userDetailsForm.get('gender').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Loan Amount" formControlName="loanamount" required>
          <mat-error *ngFor="let validation of validation_messages.loanamount">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('loanamount').hasError(validation.type) && (userDetailsForm.get('loanamount').dirty || userDetailsForm.get('loanamount').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

<!-- 
        <mat-form-field class="full-width">
          <input matInput placeholder="Loan Amount" formControlName="loanamount" required>
          <mat-error *ngFor="let validation of validation_messages.loanamount">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('loanamount').hasError(validation.type) && (userDetailsForm.get('loanamount').dirty || userDetailsForm.get('loanamount').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field> -->


        <!-- <mat-form-field class="full-width">
          <input  placeholder="Loan Amount" formControlName="loanamount" required>
        </mat-form-field> -->


        <div formGroupName="country_phone" class="row">
       
          <mat-label>Contact</mat-label>
          <mat-form-field >
            
            <ngx-mat-intl-tel-input formControlName="phone"
            [preferredCountries]="['de', 'us']"
            [enablePlaceholder]="true"
            [enableSearch]="true" name="phone" #phone  >
          </ngx-mat-intl-tel-input>
          <mat-hint>eg : {{phone.selectedCountry.placeHolder}}</mat-hint>
        </mat-form-field> 
        </div>

     
       

      </form>
    </div>


    <div class="col">
     

      <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)">

        <mat-form-field class="full-width">
          <input matInput type="email" placeholder="Email" formControlName="email" required>
          <mat-error *ngFor="let validation of account_validation_messages.email">
            <mat-error class="error-message" *ngIf="accountDetailsForm.get('email').hasError(validation.type) && (accountDetailsForm.get('email').dirty || accountDetailsForm.get('email').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>


        <div formGroupName="matching_passwords">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngFor="let validation of account_validation_messages.password">
              <mat-error class="error-message" *ngIf="accountDetailsForm.get('matching_passwords').get('password').hasError(validation.type) && (accountDetailsForm.get('matching_passwords').get('password').dirty || accountDetailsForm.get('matching_passwords').get('password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"  [errorStateMatcher]="parentErrorStateMatcher" required>
            <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
              <mat-error class="error-message" *ngIf="(accountDetailsForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| accountDetailsForm.get('matching_passwords').hasError(validation.type)) && (accountDetailsForm.get('matching_passwords').get('confirm_password').dirty || accountDetailsForm.get('matching_passwords').get('confirm_password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

        </div>

        <mat-checkbox formControlName="terms">
          I accept terms and conditions
        </mat-checkbox>
        <mat-error *ngFor="let validation of account_validation_messages.terms">
          <mat-error class="error-message" *ngIf="accountDetailsForm.get('terms').hasError(validation.type) && (accountDetailsForm.get('terms').dirty || accountDetailsForm.get('terms').touched)">{{validation.message}}</mat-error>
        </mat-error>

        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!accountDetailsForm.valid && !userDetailsForm.valid">
          Submit
        </button>

      </form>

    </div>
  </div>
</div>



<app-file-upload></app-file-upload>
<!-- 
<div class="form-container">
  <form [formGroup]="nodeMailerForm">
    <mat-form-field appearance="fill">
      <mat-label>Enter the email id you wish to send mail to:</mat-label>
      <input matInput #email placeholder="provide email id here" formControlName="email" type="email">
    </mat-form-field>
    <br>
 <button  mat-raised-button color="accent" type="submit" (click)="sendMail()">Click Me</button>
</form>
</div> -->




<div class="container">
  <div class="row">
    <div class="col-6 mx-auto mt-5 p-3 bg-light border border-info">
      <form [formGroup]="infoForm" (ngSubmit)="sendMail()" #form="ngForm">
        <label for="nameInp"></label>
        <input type="text" id="nameInp" class="form-control border-info" formControlName="name">

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger p-1">

          <p *ngIf="name.errors.required" class="mb-0">
            Name is required.
          </p>
          <p *ngIf="name.errors.minlength" class="mb-0">
            Name must be at least 3 characters long.
          </p>
        </div>

        <label for="mailInp"></label>
        <input type="text" id="mailInp" class="form-control border-info" formControlName="email">

        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger p-1">

          <p *ngIf="email.errors.required" class="mb-0">
            Email is required.
          </p>
          <p *ngIf="email.errors.email" class="mb-0">
            Email is incorrect.
          </p>
        </div>

        <div class="text-right mt-3">
          <button class="btn btn-info" [disabled]="form.invalid">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>


<app-contact-us-form></app-contact-us-form>