<!-- <div class="container">
  <lender-app-navbar title="Dashboard"></lender-app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <lender-app-figurecard
        title="184"
        headerIcon="weekend"
        category="Bookings"
        footContent="Get More Space..."
        footerIcon="warning"
        linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
        boxShadow="0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)">
      </lender-app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <lender-app-figurecard
        title="75.521"
        headerIcon="equalizer"
        category="Views"
        footContent="Google Analytics"
        footerIcon="local_offer"
        linearColor="linear-gradient(60deg, #ef5350, #e53935)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4)">
      </lender-app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <lender-app-figurecard
        title="$3,245"
        headerIcon="store"
        category="Revenue"
        footContent="Last 24 Hours"
        footerIcon="date_range"
        linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
      </lender-app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <lender-app-figurecard
        title="+245"
        headerIcon="mic"
        category="Followers"
        footContent="Just Updated"
        footerIcon="update"
        linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4)">
      </lender-app-figurecard>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <lender-app-imagecard
        image="../../../assets/img/card-2.jpeg"
        title="Cozy 5 Stars Apartment"
        desc="The place is close to Barceloneta Beach and bus stop just 2 min by walk and..."
        footerTitle="$899/night"
        position="Barcelona, Spain">
      </lender-app-imagecard>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <lender-app-imagecard
        image="../../../assets/img/card-3.jpeg"
        title="Office Studio"
        desc="The place is close to Metro Station and bus stop just 2 min by walk and near..."
        footerTitle="$1,119/night"
        position="London, UK">
      </lender-app-imagecard>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <lender-app-imagecard
        image="../../../assets/img/card-1.jpeg"
        title="Beautiful Castle"
        desc="The place is close to Metro Station and bus stop just 2 min by walk and near..."
        footerTitle="$459/night"
        position="Milan, Italy">
      </lender-app-imagecard>
    </div>
  </div>


</div> -->



<div class="container">
  <div class="row"  >
      <div class="col-lg-4" *ngFor="let o of offersArray">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">{{o.lender_name}}</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <div class="widget-49-title-wrapper">
                          <div class="widget-49-date-primary">
                              <span class="widget-49-date-day">09</span>
                              <span class="widget-49-date-month">apr</span>
                          </div>
                          <div class="widget-49-meeting-info">
                              <span class="widget-49-pro-title">Offering Details:</span>
                              <span class="widget-49-meeting-time" style=" word-break: break-all;
                              white-space: pre-wrap; ">{{o.offer_details}}</span>
                          </div>
                      </div>
                      <ol class="widget-49-meeting-points">
                          <li class="widget-49-meeting-item"><span>Tenure : {{o.tenure}}</span></li>
                          <li class="widget-49-meeting-item"><span>Interest Rate: {{o.interest_rate}}</span></li>
                          <li class="widget-49-meeting-item"><span>Loan Type: {{o.loan_type}}</span></li>
                      </ol>
                      <div class="widget-49-meeting-action">
                          <a (click)="Apply(o.id)" class="btn btn-sm btn-flash-border-primary">Apply</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      </div>