<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FINLONA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="router-active">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/dashboard" routerLinkActive="router-active">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/applicationform" routerLinkActive="router-active">Apply Loan</a>
                </li>
            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
        <div class="right">
            <!-- <button class="btn-sm danger"><a routerLink="/dashboard" routerLinkActive="router-active"><i class="material-icons">dashboard</i><p>DASHBOARD</p></a></button> -->
            <button class="btn-sm danger" style="color: black"><a routerLink="/register" routerLinkActive="router-active"><i class="material-icons">person_add</i><p>REGISTER</p></a></button>
            <button class="btn-sm dark" style="color: black"><a routerLink="/login" routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}"><i class="material-icons">fingerprint</i><p>LOGIN</p></a></button>
            
            <!-- <a routerLink="/lock" style="margin-right: 0" routerLinkActive="router-active"><i class="material-icons">lock_open</i><p>LOCK</p></a> -->
          </div>
    </div>
</nav>