<!-- 
<section class="wrapper" style="margin-top: 100px;">
    <div class="container">
    <h1>Our Dashboards</h1>
    <div class="row">
   <div class="col-sm-4"><div class="card text-white card-has-bg click-col" style="background-image:url('../../../assets/images/Home/loan5.png');">
           <img class="card-img d-none" src="../../../assets/images/Home/loan5.png" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2">Loan Dashboard</small>
              <h4 class="card-title mt-0 "><a class="text-white" herf="#">Loan Offerings Dashboard with all banks offerings at one place.</a></h4>
             
           </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="../../../assets/images/Home/loan5.png" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
       <small>Director of UI/UX</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
       <div class="col-sm-4"><div class="card text-white card-has-bg click-col" style="background-image:url('../../../assets/images/Home/loan6.png');">
           <img class="card-img d-none" src="../../../assets/images/Home/loan6.png" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2">User Dashboard</small>
              <h4 class="card-title mt-0 "><a class="text-white" herf="#">User Dashboard with all the applications, documents, user details and ststus at one place.</a></h4>
            
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="../../../assets/images/Home/loan6.png" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
       <small>Director of UI/UX</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
    <div class="col-sm-4"><div class="card text-white card-has-bg click-col" style="background-image:url('../../../assets/images/Home/loan7.png');">
           <img class="card-img d-none" src="../../../assets/images/Home/loan7.png" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
           <div class="card-body">
              <small class="card-meta mb-2">Reports Dashboard</small>
              <h4 class="card-title mt-0 "><a class="text-white" herf="#">Real Time Section where you get all the information regarding previous loan applications associated with an organization.</a></h4>
             <small><i class="far fa-clock"></i> October 15, 2020</small>
            </div>
            <div class="card-footer">
             <div class="media">
    <img class="mr-3 rounded-circle" src="../../../assets/images/Home/loan7.png" alt="Generic placeholder image" style="max-width:50px">
    <div class="media-body">
      <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
       <small>Director of UI/UX</small>
    </div>
  </div>
            </div>
          </div>
        </div></div>
    
  </div>
    
  </div>
  </section>
   -->



   <div class="container h-100" style="margin-top:50px">
    <h1 style="margin-bottom: -150px;">Our Dashboards</h1>
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <h1>Loan Dashboard</h1>
            <p>Loan Offerings Dashboard with all banks offerings at one place.</p>
          </div>
          <a href="#">more</a>
          <div class="ico-card">
          <i class="fa fa-rebel"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <h1>User Dashboard</h1>
            <p>User Dashboard with all the applications, documents, user details and ststus at one place</p>
          </div>
          <a href="#">more</a>
        <div class="ico-card">
          <i class="fa fa-codepen"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <h1>Reports Dashboard</h1>
            <p>Real Time Section where you get all the information regarding previous loan applications associated with an organization.</p>
          </div>
          <a href="#">more</a>
        <div class="ico-card">
          <i class="fa fa-empire"></i>
        </div>
        </div>
      </div>
      
    </div>
  </div>