// $section_content_text_font: normal normal normal 18px/30px Bw Modelica;
$header_footer_nav_text_font: normal normal normal 0.875rem/1.313rem Bw Modelica;

$section_content_text_font: normal normal normal 1.050rem/1.750rem Bw Modelica;//normal normal normal 16.9px/28px Bw Modelica;

$section_content_paragraph_font: normal normal normal 14px/22px Bw Modelica;

$section_header_content_text_font: normal normal normal 12px/30px Bw Modelica;

$section_first_heading_font: normal normal 300 28px/52px Bw Modelica;

$section_second_heading_font: italic normal normal 32px/52px Gotham;

$section_header_text_font: normal normal 300 1.488rem/2.538rem Bw Modelica LTI;//normal normal 300 22px/40px Bw Modelica LTI;

$section_header_bold_text_font: normal normal bold 1.750rem/2.538rem Bw Modelica LTI-Bold;

$fastlane_logo_font: italic normal normal 40px/88px Gotham;

$section_button_font:normal normal normal 0.824rem/1.176rem Bw Modelica;// normal normal bold 14px/20px Bw Modelica;

$section_header_text_font_mobile: normal normal 300 14px/32px Bw Modelica LTI;

$section_header_bold_text_font_mobile: normal normal bold 20px/32px Bw Modelica LTI-Bold;

$section_content_text_font_mobile: normal normal normal 13px/28px Bw Modelica;

$section_single_line_header_font: normal normal 300 1.575rem/1.881rem Bw Modelica LTI; //normal normal 300 1.482rem/1.771rem Bw Modelica LTI; //normal normal 300 24px/43px Bw Modelica LTI;

$section_bold_line_header_font: normal normal 300 1.575rem/1.881rem Bw Modelica LTI-Bold;


$list_item_header_bold_text_font: normal normal bold 1.225rem/2.362rem Bw Modelica-Medium;//normal normal bold 20px/35px Bw Modelica-Medium;


$list_item_content_text_font: normal normal normal 0.875rem/1.313rem Bw Modelica;

$footer_link_text_font: normal normal normal 14px/30px Bw Modelica;

/*For mobiles of width < 370px*/
$section_accelerator_header_font_mobile : normal normal 300 19px/40px Bw Modelica LTI;

/*client-feedback*/
$client__feedback_header_mobile: normal normal normal 28px/40px Bw Modelica;
$client__feedback_header_bold_mobile:  normal normal bold 28px/40px Bw Modelica;
$client__feedback_mobile : italic normal medium 20px/32px Bw Modelica;
$client__feedback_name_mobile : normal normal normal 14px/28px Bw Modelica;

$client__feedback_header_desktop : normal normal normal 25px/40px Bw Modelica;
$client__feedback_title_bold_desktop : normal normal bold 18px/30px Bw Modelica;
$client__feedback_header_bold_desktop :  normal normal bold 27px/40px Bw Modelica;
$client__feedback_desktop : italic normal medium 24px/42px Bw Modelica;
$client__feedback_name_desktop : normal normal normal 18px/28px Bw Modelica;

$section_header_text_font_italic: italic normal normal 22px/40px Bw Modelica;
$section_header_text_font_normal: normal normal normal 22px/40px Bw Modelica;
$section_header_text_font_light: normal normal normal 22px/40px Bw Modelica-Light;
$section_header_bold_text_font_italic: italic normal 800 28px/35px Bw Modelica-BoldItalic;

$modal_tab_header: normal normal bold 12px/20px Bw Modelica-Bold;
$modal_tab_list_items: normal normal normal 10px/20px Bw Modelica;
$modal_heading_bold:  normal normal medium 10px/20px Bw Modelica-Medium;

$color_dark_blue:#2A2E7D;
$color_light_blue:#0670BA;
$color_black:#2e2e2e;
$color_greyish_white:#5a5a5a;
$color-border:#cccccc;
$border: .5px solid #cccccc;
// $color_black:#2e2e2e;

//About Assessments

$Breadcrumb-text-bold: normal normal 300 32px/45px  bold Bw Modelica LTI;
$Breadcrumb-text: normal normal 300 32px/45px  Bw Modelica LTI;

$report-header-row: normal normal bold 15px/20px Bw Modelica;
$color_white:#ffffff;


$info-section-font-cat: normal normal 300 13px/30px Bw Modelica;
$reports-overview: normal normal bold 13px/20px Bw Modelica-Bold;
$score_reports_heading_font: normal normal normal 13px/25px Bw Modelica;
$score_font_big: normal normal bold 32px/30px Bw Modelica-Bold;
$score_font_small: normal normal bold 18px/30px Bw Modelica-Bold;

//conduct assessment
$info-container-color:#F9F9F9;
$info-container-border:rgba(204, 204, 204, 0.479);
$accordion-expanded-color:rgba(6, 111, 186, 0.05);
$accordion-open-text-color:#2A2E7D;
$score_heading_color: #707070;
$your_score_color:#E5F0F8;
$industry_standard_color:#D9F8DD;
$your_box_heading_color:#0060A3;
$industry_box_heading_color:#007B29;
$recommendation_header_color:#D0F2FD;
$accordions_spacing_pc:15px;
$accordions_spacing_mobile:20px;
//Archive
$archive-header-cell : normal normal bold 16px/25px Bw Modelica LTI-Bold;
$archive-row-cell : normal normal medium 14px/30px Bw Modelica-Medium;
$section_header_bold_text_font_mobile_archive: normal normal bold 24px/32px Bw Modelica LTI-Bold;
$archive_mobile_select_all : normal normal medium 16px/20px Bw Modelica;
$archive_mobile_column : normal normal bold 16px/20px Bw Modelica;






// $list_item_header_bold_text_font: normal normal bold 19.6px/37.8px Bw Modelica-Medium;
// $list_item_header_bold_text_font: normal normal bold 19.6px/37.8px Bw Modelica-Medium;

//UX recommended font-size for breadcrum

$breadcrumb_list_font : normal normal normal 11.2px/21px Bw Modelica;

$breadcrumb_heading_font : normal normal bold 28px/61.6px Bw Modelica LTI-Bold;

//UX recommended font-size for side headers

$side_header_normal_text: normal normal 300 30.6px/48.4px Bw Modelica LTI;

$side_header_bold_text: normal normal bold 30.6px/48.4px Bw Modelica LTI-Bold;

$card_header_text: normal normal bold 16.8px/30.6px Bw Modelica;

$card_section_text: normal normal normal 14px/22.4px Bw Modelica;

$section_first_heading: normal normal 300 25.2px/30.1px Bw Modelica;

$section_second_heading: italic normal normal 25.2px/30.1px Gotham;

$second_header_first_text : normal normal normal 19.6px/33.6px Bw Modelica;

$second_header_second_text: italic normal 800 25.2px/35px Bw Modelica;

